
.aluminium__title {
	font-family: 'Dancing Script';
	font-size: 40px;
    padding-top: 8%;
    padding-bottom: 5%;
    text-align: center;
    text-shadow: 1px 1px 1px #333;
    font-family: 'Josefin Sans', sans-serif;
}