@import "../../../index";

.aluminium {
  // font-family: monospace;
  background: #a9acb6;
  padding-top: 20px;
  font-size: 16px;
  line-height: 140%;
  color: #505050;
  font-family: Arial;

  &__svg {
    display: flex;
    justify-content: space-between;

    svg {
      width: 64px;
      height: 42px;
      fill: #111111;
      transition: all 0.3s;
      margin-right: 10px;
    }
    svg:hover {
      fill: blue;
    }
  }
}
